<div class="top-container">
    <div class="search-div">
        <div class="search-container">
            <input placeholder="Rechercher" ng-model='searchInput' id="search">
        </div>
        <button class="loupe" ng-click='search()'></button>
        <button class="map" onclick="showMap()"></button>
    </div>
</div>


<ul id="slide-out2" class="sidenav">
    <li class="valign-wrapper row" ng-repeat="y in villesFavorites">
        <a class="col s10" href="#!previsions?id={{y.id}}">{{y.name}}</a>
        <a href="#" class="col s2 center" ng-click="removeFavoris(y.id)"><i class="fas fa-times"></i></a>
    </li>
</ul>

<div class="fixed-action-btn">
    <a data-target="slide-out2" data-position="left" data-tooltip="Favoris"
       class="btn-floating tooltipped btn-large sidenav-trigger red">
        <i class="large material-icons">favorite</i>
    </a>


</div>
<div class="row">
    <div style="overflow: visible" ng-repeat="x in meteovilles"

         class="light-blue accent-4 waves-effect card col s10 offset-s1 m8 offset-m2 l6 offset-l3 xl4 offset-xl4 white-text ">
        <a ng-click="addFavorite(x.name,x.id,$event)"
           class="btn-floating right halfway-fab btn-small waves-effect waves-light red" style="z-index: 10000"><i
                class="{{x.favoris}}"></i></a>

        <a style="position: absolute; height: 100%;width: 100%;z-index: 100; left:0;"
           href="#!previsions?id={{x.id}}"></a>
        <div class="card-image row ">
            <h6 class=" card-subtitle col s12">{{x.name}}, {{x.sys.country}}</h6>
            <div class="col s12 valign-wrapper">
                <h1 class="tempmax col  s6">{{ (x.main.temp - 273.15) - (x.main.temp - 273.15) % 1}}°C</h1>
                <img class="col  s6" src="http://openweathermap.org/img/wn/{{x.weather[0].icon}}@4x.png">
            </div>
        </div>
        <div class="card-content info" style="padding: 10px 10px 0px 10px;">
            <div>
                <div class="row">
                    <div class="col s7">
                        <h6>
                            {{x.weather[0].main}}
                        </h6>
                        <span>{{x.weather[0].description}}</span>
                    </div>
                    <div class="col s5">
                        <h6>Ressentie</h6>
                        <span>{{ (x.main.feels_like - 273.15) - (x.main.feels_like - 273.15) % 1}}°C</span>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div>
                        <div class="col s6 ">
                            <div class="col s12">
                                <div>
                                    <h5>
                                        <i class="fas fa-tint"></i>
                                    </h5>
                                    <div class="">
                                        <div>
                                            <span>{{x.main.humidity}}%</span>
                                        </div>
                                        <div class="progress">
                                            <div class="determinate" style="width:{{x.main.humidity}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s6 ">
                            <div class="col s12">
                                <div>
                                    <h5>
                                        <i class="fa-solid fas fa-wind"></i>
                                    </h5>
                                    <div>
                                        <div>
                                            <span>{{x.wind.speed}}&nbsp;<span>m/s</span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







